<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= link_to @review.doctor.name, doctor_path(@review.doctor) %>
</p>

<%= link_to 'Edit', edit_review_path(@review), :class=> "waves-effect waves-light btn lime"%> 
<%= link_to 'Destroy', @review, method: :delete, :class=> "waves-effect waves-light btn lime", data: { confirm: 'Are you sure?' } %>
